h1{
    background-color: blue;
    display: inline;        /* las etiqueta de bloque pasa a ser de linea */
}

span{
    background-color: blueviolet;
    display: block;     /* la convierte en bloque */

}

div{
    display: none;  /* lo borra */
    display: hidden;    /* lo oculta */
}

a:hover {
    color: rgb(56, 166, 173);
}

h2{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    position: absolute;                     /* cambiar la posicion y se ajusta al navegador */
    bottom: 0;
    right: 0;
    position: fixed;
    position: sticky;       /* aca podemos poner valores */

}

h3{
    background-color: brown;
    position: relative;                     /* se ajusta con rrespecto a su posicion */
    left: 100px;
    bottom: 100px;
    opacity: 0.80;
    z-index: 3;         /* valor de adelante atras */
}
