#grilla {
    display: grid;
    gap: 5px;
    height: 100vh;
    grid-template-areas:
        "menu logo logo ."
        "menu info info banner"
        "menu info info banner"
        "menu info info banner"
        "redes redes redes redes";
    grid-template-columns: 150px 2fr 1fr 90px;
}

#grilla header {
    background-color: rgb(255, 255, 255);
    background-image: url(./);
}
#grilla nav {
    background-color: blue;
    grid-area: menu;
}
#grilla section {
    background-color: black;
    grid-area: info;
}
#grilla aside {
    background-color: rgb(255, 255, 255);
    grid-area: banner;
}
#grilla footer {
    background-color: cornflowerblue;
    color: white;
    grid-area: redes;
}