.boxmedia {
    background-color: yellow;
    padding: 10px;
}

.gridmedia {
    background-color: turquoise;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.flexmedia {
    background-color: brown;
    padding: 10px;
    color: white;
    display: flex;

}

/* responsive */

@media (max-width: 500px/* breakpoint */) {/* css */
    .boxmedia {
        background-color: tomato;
    }
}

@media (min-width: 768px) {
    .boxmedia {
        background-color: aqua;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .boxmedia{
        background-color: violet;
    }
}

@media (min-width: 600px){
    .gridmedia {
        grid-template-columns: 1fr 1fr;     /* el texto de arriba se corre al a derecha a partir de los 600 pixceles */
    }
}

@media (max-width: 500px) {
    .flexmedia {
        flex-direction: column-reverse;
    }
}