* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}
h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 900;
    color: #343348;
    margin-top: 15px;
    margin-bottom: 30px;
}
p, h3 {
    color: #6a7587;
    font-weight: 500;
    font-size: 26px;
}

#siteIntro {
    display: grid;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}
#siteIntro .introInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#siteIntro .introInfo .infoBtns {
    display: flex;
    margin-top: 30px;
}
#siteIntro .introInfo .infoBtns img {
    margin-right: 20px;
}
#siteIntro .introImg img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    #siteIntro {
        grid-template-columns: 1fr;
        padding: 25px;
    }
    #siteIntro .introInfo {
        align-items: center;
        text-align: center;
    }
}