header {
    background-color: rgb(167, 0, 0);
    span {
        color: black;
    }
    nav {
        display: flex;
        background-color: cornflowerblue;
        ul {
            display: flex;
            li {
                list-style: none;
                a {
                    color: chocolate;
                    &:hover{
                        color: green;
                    }
                }
            }
        }
    }
}
