@import "vars";     /* importar otro scss */
@import "header";

.producto {
    background-color: black; /* llamar a la variable con $ */
    .producto__titulo {
        font-size: 30px;
    }
    &__info {               /* REEMPLAZA EL SELECTOR PADRE && */
        font-size: 16px;
        line-height: 1;
    }
    & &__titulo {
        font-family: 'Courier New', Courier, monospace;
    }
}
