#uno {  /* asi se llama a solo lo que este dentro del ID */  /* ID */
    
    background-color: darkgoldenrod;
}

#dos   {
    color: blue;
}

.poto {         /* CLASS */
background-color: darkorchid;
}

body{
    font: impact;
}

/* los ID se pueden usar en el NAV HEADER FOOTER */
/* los CLASS se suelen usar en el body, es para usar varios a la vez */


